.btn {
  --btn-bgcolor: transparent;
  --btn-color: black;

  &.__primary {
    --btn-bgcolor: var(--color-success);
    color: white;
  }
  &.__secondary {
    --btn-bgcolor: var(--color-error);
    color: white;
  }

  color: var(--btn-color);
  background-color: var(--btn-bgcolor);
}
