:root {
  --color-blue-gray-0: #f8f9f9;
  --color-blue-gray-50: #e8ebee;
  --color-blue-gray-100: #d1d7de;
  --color-blue-gray-200: #bac4cf;
  --color-blue-gray-300: #a5b2c0;
  --color-blue-gray-400: #91a0b1;
  --color-blue-gray-500: #7e90a3;
  --color-blue-gray-600: #6c8095;
  --color-blue-gray-700: #5b7086;
  --color-blue-gray-800: #465c73;
  --color-blue-gray-900: #324860;
  --color-blue-gray-1000: #22374d;
}
