:root {
  --color-blue-0: #f4f9ff;
  --color-blue-50: #deeeff;
  --color-blue-100: #bddeff;
  --color-blue-200: #9bcdff;
  --color-blue-300: #79bbfd;
  --color-blue-400: #57a8fa;
  --color-blue-500: #3693f1;
  --color-blue-600: #1a7cde;
  --color-blue-700: #0a66c2;
  --color-blue-800: #0457aa;
  --color-blue-900: #024a92;
  --color-blue-1000: #003d7a;
}
