:root {
  --color-dark-cyan-0: #f9feff;
  --color-dark-cyan-50: #d8f3f7;
  --color-dark-cyan-100: #b1e2e9;
  --color-dark-cyan-200: #8ccfd8;
  --color-dark-cyan-300: #6bbac4;
  --color-dark-cyan-400: #4ea4af;
  --color-dark-cyan-500: #368d98;
  --color-dark-cyan-600: #227580;
  --color-dark-cyan-700: #135c66;
  --color-dark-cyan-800: #0e525a;
  --color-dark-cyan-900: #0a464e;
  --color-dark-cyan-1000: #073b42;
}
