:root {
  --color-green-0: #fbfffd;
  --color-green-50: #d2ffec;
  --color-green-100: #e6f6ef;
  --color-green-200: #c3eddb;
  --color-green-300: #b0e3ce;
  --color-green-400: #8ad6b6;
  --color-green-500: #54c395;
  --color-green-600: #33b881;
  --color-green-700: #00a661;
  --color-green-800: #009155;
  --color-green-900: #007c49;
  --color-green-1000: #00683c;
}
