:root {
  --color-orange-0: #fffbf8;
  --color-orange-50: #fff0e1;
  --color-orange-100: #ffe2c4;
  --color-orange-200: #ffd4a7;
  --color-orange-300: #ffc68a;
  --color-orange-400: #ffb86d;
  --color-orange-500: #ffaa50;
  --color-orange-600: #fe9c33;
  --color-orange-700: #fa8c16;
  --color-orange-800: #e27603;
  --color-orange-900: #c26400;
  --color-orange-1000: #a25400;
}
