:root {
  --color-red-0: #fff6f5;
  --color-red-50: #ffeae8;
  --color-red-100: #ffd4d1;
  --color-red-200: #ffbcb8;
  --color-red-300: #ffa49d;
  --color-red-400: #ff8980;
  --color-red-500: #ff6a60;
  --color-red-600: #fe4639;
  --color-red-700: #dd1405;
  --color-red-800: #a70b00;
  --color-red-900: #860900;
  --color-red-1000: #6b0700;
}
