:root {
  --color-yellow-0: #fffdf6;
  --color-yellow-50: #fffae6;
  --color-yellow-100: #fff7d5;
  --color-yellow-200: #fff1b7;
  --color-yellow-300: #ffeb99;
  --color-yellow-400: #ffe88a;
  --color-yellow-500: #ffe57c;
  --color-yellow-600: #ffd633;
  --color-yellow-700: #ffcc00;
  --color-yellow-800: #e8ba00;
  --color-yellow-900: #b59100;
  --color-yellow-1000: #8c7000;
}
